.tour-card {
  width: max-content;
  border-radius: 10px;
  position: relative;
  box-shadow: $box-shadow;

  &:hover {
    box-shadow: $box-shadow-hover;
  }
}
.tour-card-image {
  overflow: hidden;
  position: relative;
  img {
    display: block;
    border-radius: 10px;
    width: 285px;
    height: 350px;
    object-fit: cover;
  }
  .tour-location-float {
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.3);
    @include flex-layout(row, center, center);
    gap: $xs;
    position: absolute;
    top: $sm;
    left: $sm;
    padding: $sm;
    background-color: $bg-color;
    border-radius: 5px;
    font-weight: 600;
  }
  .tour-detail-button {
    display: none;
    opacity: 0;
    transform: translateX(-150px);
    transition: all 0.5s ease-in-out;
    position: absolute;
    right: $sm;
    top: calc($md);

    @include flex-layout(row, center, center);
    font-size: $xxl;
    color: $theme-accent1;
    // background-color: $theme-accent1;
    border-radius: 50%;

    background-color: $bg-color;
    box-shadow: $box-shadow;
    &:hover {
      box-shadow: $box-shadow-hover;
    }
  }
  &:hover {
    .tour-detail-button {
      transition: all 0.5s ease-in-out;
      opacity: 1;
      display: flex;
      transform: translateX(0px);
    }
  }
}
.tour-card-body {
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.3);
  //   width: 100%;
  padding: $sm;
  position: absolute;
  bottom: $sm;
  left: $sm;
  right: $sm;
  background-color: $bg-color;
  border-radius: 5px;

  @include flex-layout(column, center, flex-start);
  gap: $sm;
  .tour-title {
    width: 100%;
    h4 {
      font-weight: 700;
    }
  }
  .tour-info {
    width: 100%;
    @include flex-layout(row, space-between, center);
    small {
      font-weight: 600;
    }
  }
}
