.tours-container {
  @include flex-layout(column, center, center);
  gap: $sm;
}
.tours-actions {
  @include flex-layout(row, center, center);

  width: 70%;
  input {
    width: 100%;
    padding: $sm $lg;
    border-radius: 10px;
    border: 1px solid $theme-accent1;
    color: $text-color;
  }
}
.tours {
  position: relative;
  overflow-y: scroll; //   border: 1px solid red;
  max-height: calc(100vh - 175px);
  min-height: 520px;
  @include flex-layout(row, center, center);
  flex-wrap: wrap;
  gap: $md;
  @include device(mobile) {
    max-height: calc(100vh - 200px);
  }
}
.tour-block {
  line-height: 1;
  padding: $xs;
  border-radius: 10px;
  @include flex-layout(column, center, flex-start);
  gap: $sm;
  overflow: hidden;
  border: 1px solid $divider-color;
  box-shadow: $box-shadow;
  .tour-block-image {
    position: relative;
    img {
      border-radius: 5px;
      display: block;
      width: 300px;
    }
    .tour-location-float {
      z-index: 999;
      font-weight: 600;
      border-radius: 5px;
      @include flex-layout(row, center, center);
      gap: $xs;
      background-color: $bg-color;
      position: absolute;
      top: $sm;
      left: $sm;
      padding: $sm;
    }
    .tour-duration-float {
      z-index: 999;
      font-weight: 600;
      border-radius: 5px;
      @include flex-layout(row, center, center);
      gap: $xs;
      background-color: $bg-color;
      position: absolute;
      top: $sm;
      right: $sm;
      padding: $sm;
    }
  }
  transition: box-shadow 0.2s ease-in-out;
  &:hover {
    transition: box-shadow 0.2s ease-in-out;
    box-shadow: $box-shadow-hover;
  }
}
.tour-block-body {
  padding: $sm;
  width: 100%;
  @include flex-layout(column, center, flex-start);
  gap: $sm;
  .tour-block-info {
    border-top: 1px solid $divider-color;
    border-bottom: 1px solid $divider-color;
    padding: $md 0;
    width: 100%;
    @include flex-layout(row, space-between, center);
    .tour-block-spot {
      @include flex-layout(row, center, center);
    }
  }
  .tour-block-title {
    font-weight: 700;
  }
  .tour-block-price {
    font-weight: 500;
  }
  .tour-block-desc {
    margin: $sm 0;
    max-width: calc(300px - $sm * 2);
    font-weight: 200;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 3; /* number of lines to show */
    line-clamp: 3;
    -webkit-box-orient: vertical;
    min-height: 3lh;
  }
}
.tour-block-image-slider {
  z-index: -1;
  max-width: 300px;
}
.swiper-pagination {
  .swiper-pagination-bullet-active {
    background-color: $theme-accent1 !important;
  }
}
