$xs: 0.25rem;
$sm: 0.5rem;
$md: 0.75rem;
$lg: 1rem;
$xl: 1.25rem;
$xxl: 1.5rem;

$theme-accent1: #a0c49d;
$theme-accent2: #c4d7b2;
$theme-accent3: #e1ecc8;
$theme-accent4: #f7ffe5;

// $theme-accent1: #e9493d;
// $theme-accent2: #5fbdc1;
// $theme-accent3: #fda800;

$text-color: #f9f5f6;
$text-color-dark: #393646;
