$xs: 0.25rem;
$sm: 0.5rem;
$md: 0.75rem;
$lg: 1rem;
$xl: 1.25rem;
$xxl: 1.5rem;

$theme-accent1: #a0c49d;
$theme-accent2: #c4d7b2;
$theme-accent3: #e1ecc8;
$theme-accent4: #f7ffe5;

$bg-color: #f9f5f6;
$theme-accent1: #0081b4;
$theme-accent1: #5b9a8b;
$theme-accent1: #00ADB5;
$theme-accent2: #ff0060;

// $theme-accent1: #e9493d;
// $theme-accent2: #5fbdc1;
// $theme-accent3: #fda800;

$text-color: #f9f5f6;
$text-color-dark: #393646;
$text-color-dark: #5c5470;
$divider-color: #ece8dd;
$box-shadow: 0px 0px 4px -1px rgba(0, 0, 0, 0.3);
$box-shadow-hover: 0px 0px 4px 0px rgba(0, 0, 0, 0.3);
